//- /*---------- Mixin Services Item ----------*/
mixin servicesItem(image, alt, title, desc)
  li.services-item
    img.services-item-image(src= image, alt= alt)
    h3.services-item-title= title
    p.services-item-desc= desc

//- /*---------- Mixin Destinations Item ----------*/
mixin destinationsItem()
  li.destinations-item
    .destinations-item-image
      img(src="../../images/destinations/destinations-1.png", alt="")
    .destinations-item-content
      .destinations-content-top
        span.destinations-sites Rome, Italty
        span.destinations-prices $5,42k
      .destinations-content-date
        img.destinations-location(src="../../images/location-arrow.svg", alt="location-arrow")
        span.destinations-days 10 Days Trip