-
  var services_list = [
    {image: "./images/services/services-1.svg", alt: "Calculated Weather", title: "Calculated Weather", desc: "Built Wicket longer admire do barton vanity itself do in it."},
    {image: "./images/services/services-2.svg", alt: "Best Flights", title: "Best Flights", desc: "Engrossed listening. Park gate sell they west hard for the."},
    {image: "./images/services/services-3.svg", alt: "Local Events", title: "Local Events", desc: "Barton vanity itself do in it. Preferd to men it engrossed listening."},
    {image: "./images/services/services-4.svg", alt: "Customization", title: "Customization", desc: "We deliver outsourced aviation services for military customers"}
  ];

section.services
  .container.services-container
    //- Top
    .services-top
      p.services-caption CATEGORY
      h2.heading.services-heading We Offer Best Services
    //- List Services
    ul.services-list
      each services_item in services_list
        +servicesItem(services_item.image, services_item.alt, services_item.title, services_item.desc)
    //- Group 4
    img.services-group(src="./images/Group.svg", alt="Group 4")
    //- Rectangle
    img.services-rectangle(src="./images/Rectangle.svg", alt="Rectangle")

