@use "../../abstracts" as abst;

.footer {
  margin-top: 96px;

  &-top {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr;
    column-gap: 70px;
  }

  .logo {
    color: abst.$clr-1st;
    font-size: 44px;
    line-height: calc(66 / 44);
  }

  &-caption {
    font-size: 13px;
    line-height: calc(16.19 / 13);
    margin-top: 19px;
    width: 207px;
  }

  &-heading {
    color: #080809;
    font-size: 21px;
    line-height: calc(26.15 / 21);
    margin-bottom: 34px;
    padding-top: 23px;
  }

  &-link {
    display: inline-block;
    color: abst.$text-clr;
    font-size: 18px;
    line-height: calc(22.41 / 18);
    margin-bottom: 14px;
    transition: all 0.2s linear;

    &:hover {
      text-shadow: 0.5px 0 0 currentColor;
      color: abst.$black-212;
    }
  }

  &-socials {
    padding-top: 15px;
    @include abst.flexBox(((align-items: center, gap: 25px)));

    &-btn {
      @include abst.size(41px);
      border-radius: 100rem;
      background-color: #fff;
      box-shadow: 0px 2px 10px 0px #0000001a;
      @include abst.flexBox(((align-items: center, justify-content: center)));
      color: #080809;
      transition: all 0.2s linear;

      &:hover {
        color: #fff;
      }

      &:first-child:hover {
        background-color: #1877f2;
      }

      &:nth-child(2):hover {
        background-image: linear-gradient(
          29.61deg,
          #f38334 0%,
          #da2e7d 50.39%,
          #6b54c6 100%
        );
      }

      &:last-child:hover {
        background-color: #55acee;
      }
    }
  }

  &-app {
    font-size: 20px;
    line-height: calc(24.9 / 20);
    margin-block: 26px 16px;

    &-wrapper {
      @include abst.flexBox(((align-items: center, gap: 7px)));
    }
  }

  &-button {
    display: inline-block;
    padding: 7px 11px 8px 17px;
    background-color: #080809;
    border-radius: 30px;
    transition: all 0.2s linear;

    &:hover {
      opacity: 0.8;
    }

    &-content {
      @include abst.flexBox(((align-items: center, gap: 5px)));

      .footer-info {
        font-size: 13px;
        line-height: 1.2453846154;
      }
    }
  }

  &-bottom p {
    font-size: 14px;
    line-height: calc(17.43 / 14);
    text-align: center;
    padding: 90px 0 79px;
  }
}
