@use "../../abstracts" as abst;

.footer {
  margin-top: 96px;

  &-top {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 1fr;
  }

  .logo {
    color: abst.$clr-1st;
    font-size: 44px;
    line-height: calc(66 / 44);
  }

  &-caption {
    font-size: 13px;
    line-height: calc(16.19 / 13);
    margin-top: 19px;
    width: 207px;
  }

  &-heading {
    color: #080809;
    font-size: 21px;
    line-height: calc(26.15 / 21);
    margin-bottom: 34px;
  }

  &-link {
    display: inline-block;
    color: abst.$text-clr;
    font-size: 18px;
    line-height: calc(22.41 / 18);
    margin-bottom: 14px;
  }
}
