@use "../../abstracts" as abst;

.logos {
  container-type: inline-size;
  container-name: logo;

  &-container {
    padding: 96px 51px 111px;

    @container logo (max-width: 1020px) {
      & {
        margin-top: 30px;
      }
    }
  }

  &-list {
    @include abst.flexBox(((align-items: center, gap: 77px)));
  }

  &-item-image {
    width: 173px;
    object-fit: cover;
    cursor: pointer;
  }
}
