@use "../../abstracts" as abst;

.logos {
  margin-block: 96px 61px;
  container-type: inline-size;
  container-name: logo;

  &-container {
    padding-block: 50px;

    @container logo (max-width: 540px) {
      padding-block: 0;
    }
  }

  &-list {
    @include abst.flexBox(((align-items: center, gap: 77px)));
  }

  &-item-image {
    width: 173px;
    object-fit: cover;
    cursor: pointer;
  }
}
