@use "../../abstracts" as abst;

.logos {
  margin-block: 96px 61px;
  container-type: inline-size;
  container-name: logo;

  &-container {
    overflow: hidden;
  }

  &-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 173px;
    justify-items: stretch;

    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    to {
      translate: calc(-5 * 173px);
    }
  }

  &-item-image {
    object-fit: cover;
  }

  // @media (max-width: 767.98px) {
  //   margin-top: 43px;
  // }

  // &-container {
  //   padding-block: 50px;
  // }

  // &-list {
  //   @include abst.flexBox(((align-items: center, gap: 77px)));
  // }

  // &-item-image {
  //   width: 173px;
  //   object-fit: cover;
  //   cursor: pointer;
  // }

  // @container logo (max-width: 540px) {
  //   &-container {
  //     padding-block: 0;
  //   }

  //   &-list {
  //     display: grid;
  //     grid-template-columns: repeat(2, minmax(0, 1fr));
  //     gap: 25px;
  //   }

  //   &-item {
  //     margin: 0 auto;

  //     &:nth-child(3),
  //     &:nth-child(4) {
  //       margin-top: -70px;
  //     }
  //   }
  // }
}
