@use "../../abstracts" as abst;

.logos {
  margin-block: 96px 111px;

  &-list {
    @include abst.flexBox(((align-items: center, gap: 77px)));
  }

  &-item {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.2s linear;

    &:hover {
      // box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      cursor: pointer;
    }

    &-image {
      width: 173px;
      object-fit: cover;
    }
  }
}
