@use "../../abstracts" as abst;

.menu {
  &-mobile {
    @media (min-width: 991.98px) {
      display: none;
    }
  }

  @container wrapper (max-width: 1020px) {
    &-header-icon {
      position: absolute;
      top: 25px;
      right: 15px;
      cursor: pointer;
    }
  }
}
