@use "../../abstracts" as abst;

.menu {
  &-mobile {
    @media (min-width: 1005px) {
      display: none;
    }
  }

  @container wrapper (max-width: 998px) {
    &-header-icon {
      position: absolute;
      top: 25px;
      right: 15px;
      cursor: pointer;
    }
  }
}
