@use "../../abstracts" as abst;

.services {
  margin-block: 97px 123px;
  position: relative;
  container-type: inline-size;
  container-name: services;

  // @media (max-width: 676.98px) {

  // }

  &-container {
    container-type: inline-size;
    container-name: services-container;

    // @container services (max-width: 1020px) {
    //   padding-top: 70px;
    // }
  }

  &-top {
    margin-bottom: 66px;
    text-align: center;
  }

  &-caption {
    @include abst.fontWeight("semibold");
    font-size: 18px;
    line-height: calc(27 / 18);
    margin-bottom: 10px;
  }

  &-heading {
    font-size: 50px;
    line-height: calc(64.5 / 50);
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 78px;

    & .services-item:nth-child(2) {
      box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);

      & .services-item-image {
        @include abst.size(160px, 78px);
        object-fit: cover;
      }
    }

    & .services-item:last-child .services-item-image {
      height: 75px;
    }
  }

  &-item {
    @include abst.flexBox(((flex-direction: column, align-items: center)));
    background-color: #fff;
    border-radius: 36px;
    padding: 20px;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }

    &-content {
      margin-top: 29px;
      text-align: center;
    }

    &-title {
      font-family: abst.$font-secondary;
      color: abst.$text-heading;
      @include abst.fontWeight("semibold");
      font-size: 20px;
      line-height: calc(27.24 / 20);
      margin-bottom: 15px;
    }

    &-desc {
      line-height: calc(26 / 16);
      max-width: 181px;
    }
  }

  &-group {
    position: absolute;
    right: 58px;
    top: 0;
  }

  &-rectangle {
    position: absolute;
    left: 455px;
    bottom: -32px;
    z-index: -1;
  }

  @container services-container (max-width: 991.98px) {
    &-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 30px;
    }

    &-item {
      flex-direction: row;
      gap: 20px;
      &-desc {
        max-width: 100%;
      }
    }

    &-group {
      right: 0;
      top: 70px;
      z-index: -1;
    }

    &-rectangle {
      display: none;
    }
  }

  @container services-container (max-width: 540px) {
    &-top {
      margin-bottom: 20px;
    }

    &-caption {
      font-size: 15px;
    }

    &-heading {
      font-size: 30px;
    }

    &-list {
      grid-template-columns: minmax(0, 1fr);
    }

    &-group {
      display: none;
    }
  }
}
