@use "../../abstracts" as abst;

.services {
  margin-block: 97px 123px;

  &-container {
    position: relative;
  }

  &-top {
    margin-bottom: 66px;
    text-align: center;
  }

  &-caption {
    @include abst.fontWeight("semibold");
    font-size: 18px;
    line-height: calc(27 / 18);
    margin-bottom: 10px;
  }

  &-heading {
    color: abst.$clr-3rd;
    font-size: 50px;
    line-height: calc(64.5 / 50);
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 118px;
  }

  &-item {
    @include abst.flexBox(((flex-direction: column, justify-content: center)));
  }
}
