@use "../../abstracts" as abst;

.testimonials {
  height: 365px;
  container-type: inline-size;
  container-name: testimonials;

  @media (max-width: 1023.98px) {
    height: auto;
  }

  &-inner {
    @include abst.flexBox(
      ((align-items: center, justify-content: space-between))
    );
    container-type: inline-size;
    container-name: testimonials-inner;

    @container testimonials (max-width: 991.98px) {
      & {
        flex-direction: column;
        gap: 30px;
        position: relative;
      }
    }
  }

  &-captions {
    @include abst.fontWeight("semibold");
    font-size: 18px;
    line-height: calc(27 / 18);
  }

  &-heading {
    font-size: 50px;
    line-height: calc(64.5 / 50);
    margin-block: 8px 82px;
    text-transform: capitalize;
    width: 409px;
  }

  &-right {
    position: relative;
  }

  &-image {
    @include abst.size(68px);
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-card {
    background-color: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    padding: 28px 68px 34px 34px;
    border-radius: 10px;
    position: relative;
    top: 34px;
    left: 37px;
    z-index: -1;

    &-second {
      background-color: #f7f7f7;
      border: 2px solid #e8e8e8;
      padding-bottom: 22px;
      position: absolute;
      top: 124px;
      left: 87px;
      z-index: -2;
    }

    &-quote {
      width: 402px;
      color: #4e4e73;
      line-height: calc(32 / 16);
    }

    &-name {
      @include abst.fontWeight("semibold");
      font-size: 18px;
      line-height: calc(27 / 18);
      margin-block: 34px 5px;
    }

    &-captions {
      font-size: 14px;
      line-height: calc(21 / 14);
    }
  }

  &-pagination {
    margin-top: 20px;

    &-icon {
      color: #bcb7c2;
      transition: all 0.2s linear;

      &:hover {
        color: #3e2e4d;
      }
    }

    &-down {
      transform: rotate(180deg);
      margin-top: 56px;
      display: inline-block;
    }
  }

  @container testimonials-inner (max-width: 991.98px) {
    &-left {
      text-align: center;
    }

    &-group {
      margin: 0 auto;
    }

    &-pagination {
      position: absolute;
      right: 80px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
