//- /*---------- Mixin Services Item ----------*/
mixin servicesItem(image, alt, title, desc)
  li.services-item
    img.services-item-image(src= image, alt= alt)
    h3.services-item-title= title
    p.services-item-desc= desc