section.bookatrip
  .container
    .bookatrip-inner
      //- Content
      .bookatrip-content
        p.bookatrip-caption Easy and Fast
        h2.heading.bookatrip-heading Book your next trip in 3 easy steps
        ul.bookatrip-list
          each val in [1,2,3]
            li.bookatrip-item
              img.bookatrip-item-image(src="../../images/book-a-trip/bookatrip-1.svg", alt="")
              .bookatrip-item-info
                h3.bookatrip-title Choose Destination
                p.bookatrip-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus.
      //- Media
      .bookatrip-media
        .bookatrip-card
          .bookatrip-card-inner
            img.bookatrip-card-image(src="", alt="")
            h3.bookatrip-card-title Trip To Greece
            p.bookatrip-card-caption 14-29 June | by Robbin joseph
            .bookatrip-card-media
              a(href="#!")
              a(href="#!")
              a(href="#!")
            .bookatrip-card-people
              img.bookatrip-card-icon(src="", alt="")
              span.bookatrip-card-text 24 people going



