section.destinations
  .container
    //- Top
    .destinations-top
      p.destinations-caption Top Selling
      h2.heading.destinations-heading Top Destinations
    //- Destinations list
    ul.destinations-list
      li.destinations-item
        img.destinations-item-image(src="", alt="")
        .destinations-item-content
          .destinations-content-top
            span.destinations-sites Rome, Italty
            span.destinations-prices $5,42k
          .destinations-content-date
            img.destinations-location(src="../../images/location-arrow.svg", alt="location-arrow")
            span.destinations-days 10 Days Trip