footer.footer
  .container
    .footer-top
      .footer-column
        a.logo(href="./") Jadoo
          //- img(src="./images/footer/footer-logo.svg", alt="Logo Jadoo")
        p.footer-caption Book your trip in minute, get full Control for much longer.
      .footer-column
        h3.heading.footer-heading Company
        ul.footer-links
          each link in ["About", "Careers", "Mobile"]
            li.footer-link-item
              a.footer-link(href="#!")= link
      .footer-column
        h3.heading.footer-heading Contact
        ul.footer-links
          each link in ["Help/FAQ", "Press", "Affilates"]
            li.footer-link-item
              a.footer-link(href="#!")= link
      .footer-column
        h3.heading.footer-heading More
        ul.footer-links
          each link in ["Airlinefees", "Airline", "Low fare tips"]
            li.footer-link-item
              a.footer-link(href="#!")= link
      .footer-column
        .footer-socials
          a.footer-socials-btn(href="#!")
          a.footer-socials-btn(href="#!")
          a.footer-socials-btn(href="#!")
        p.footer-app Discover our app
        .footer-app-wrapper
          a.button.footer-app(href="#!")
            img.footer-app-image(src="", alt="")
            .footer-app-info
              h4 Get it on
              p Google Play
          a.button.footer-app(href="#!")
            img.footer-app-image(src="", alt="")
            .footer-app-info
              h4 Avalible on the
              p Apple Store
    .footer-bottom
      p All rights reserved@jadoo.co