.menu
  .menu-mobile
    //- Menu for tablet/mobile
    input.menu-checkbox(type="checkbox", name="menu-checkbox" id="menu-checkbox" hidden)
    label(for="menu-checkbox")
    img.menu-header-icon(src="../../images/menu.png", alt="")
    //- Overlay
    label.menu-overlay(for="menu-checkbox")
    //- Menu content
    .menu-drawer
