section.services
  .container.services-container
    //- Top
    .services-top
      p.services-caption CATEGORY
      h2.heading.services-heading We Offer Best Services
    //- List Services
    ul.services-list
      each val in [1, 2,3,4]
        li.services-item
          img.services-image(src="", alt="")
          h3.services-title Calculated Weather
          p.services-desc Built Wicket longer admire do barton vanity itself do in it.
