section.subscribe
  .container
    .subscribe-inner
      h2.heading.subscribe-heading Subscribe to get information, latest news and other interesting offers about Jadoo
      form.subscribe-form(action="")
        input.subscribe-input(type="text" placeholder="Your email")
        button.button.subscribe-button Subscribe
