section.subscribe
  .container.subscribe-container
    .subscribe-inner
      h2.heading.subscribe-heading Subscribe to get information, latest news and other interesting offers about Jadoo
      form.subscribe-form(action="")
        input.subscribe-input(type="text" placeholder="Your email")
        img.subscribe-icon(src="./images/subscribe/subscribe-icon.svg", alt="subscribe-icon")
        button.button.subscribe-button Subscribe
      img.subscribe-group-1(src="../../images/subscribe/subscribe-group-1.svg", alt="subscribe-group-1")
      img.subscribe-group-2(src="../../images/subscribe/subscribe-group-2.svg", alt="subscribe-group-2")
      img.subscribe-decore(src="../../images/subscribe/subscribe-decore.svg", alt="subscribe-decore")

