section.testimonials
  .container
    .testimonials-inner
      .testimonials-left
        p.testimonials-captions Testimonials
        h2.heading.testimonials-heading What people say about Us.
        img.testimonials-group(src="./images/testimonials/testimonials-group.svg", alt="testimonials-group")
      .testimonials-right
        img.testimonials-image(src="./images/testimonials/testimonials-img.png", alt="testimonials-img")
        .testimonials-card
          p.testimonials-card-quote “On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no.”
          h3.testimonials-card-name Mike taylor
          span.testimonials-card-captions Lahore, Pakistan
        .testimonials-card.testimonials-card-second
          p.testimonials-card-quote “On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no.”
          h3.testimonials-card-name Chris Thomas
          span.testimonials-card-captions CEO of Red Button
      .testimonials-pagination
        a(href="#!")
          svg(width="16", height="10", viewBox="0 0 16 10", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M1 8.5L8 1.5L15 8.5", stroke="#BCB7C2", stroke-width="2", stroke-linecap="round")
        a(href="#!")
          svg(width="16", height="10", viewBox="0 0 16 10", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M1 8.5L8 1.5L15 8.5", stroke="#BCB7C2", stroke-width="2", stroke-linecap="round")

