*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  container-type: inline-size;
  container-name: wrapper;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  font-family: "Volkhov", sans-serif;
  color: #14183e;
  font-weight: 700;
}

.button {
  all: unset;
  color: #fff;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
}

.header {
  position: relative;
  container-type: inline-size;
  container-name: header;
}
.header-container {
  container-type: inline-size;
  container-name: header-container;
}
.header-decore {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 745px;
  object-fit: cover;
}
@container header (max-width: 970px) {
  .header-decore {
    width: 650px;
  }
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  container-type: inline-size;
  container-name: header-top;
}
.header .logo {
  flex-shrink: 0;
}
.header-menu {
  margin-left: auto;
  margin-right: 86px;
}
.header-menu-list {
  display: flex;
  align-items: center;
  gap: 55px;
}
.header-menu-links {
  font-family: "Open Sans", sans-serif;
  color: #212832;
  font-size: 17px;
  line-height: 1.2717647059;
  font-weight: 500;
  transition: all 0.2s linear;
}
.header-menu-links:hover {
  text-shadow: 0.7px 0 0 currentColor;
  color: #212832;
}
.header-button {
  display: flex;
  align-items: center;
  gap: 52px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.2717647059;
  font-weight: 500;
}
.header-button .button-login {
  color: #212832;
  transition: all 0.2s linear;
}
.header-button .button-login:hover {
  text-shadow: 0.7px 0 0 currentColor;
  color: #212832;
}
.header-button .button-signup {
  display: inline-block;
  padding: 9px 21px;
  border-radius: 5px;
  border: 1px solid #212832;
  color: #212832;
}
.header-language {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: "Open Sans", sans-serif;
  color: #212832;
  font-size: 17px;
  line-height: 1.2717647059;
  font-weight: 500;
  margin-left: 42px;
  transition: all 0.2s linear;
}
.header-language:hover {
  text-shadow: 0.7px 0 0 currentColor;
  color: #212832;
  cursor: pointer;
}
@container header-top (max-width: 940px) {
  .header-menu,
  .header-button,
  .header-language {
    display: none;
  }
}

.hero {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  container-type: inline-size;
  container-name: hero;
}
@container header-container (max-width: 991.98px) {
  .hero {
    display: block;
    text-align: center;
  }
}
.hero-content {
  padding-block: 112px 117px;
  max-width: 630px;
}
.hero-tagline {
  text-transform: uppercase;
  color: #df6951;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 24px;
}
.hero-heading {
  color: #181e4b;
  font-size: 84px;
  line-height: 1.0595238095;
  letter-spacing: -2px;
  position: relative;
}
.hero-heading img {
  position: absolute;
  left: 250px;
  top: 69px;
  z-index: -1;
}
.hero-caption {
  line-height: 1.875;
  margin-block: 30px 34px;
  max-width: 477px;
}
.hero-links {
  display: flex;
  align-items: center;
  gap: 44px;
}
.hero-button {
  display: inline-block;
  padding: 19px 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2722222222;
  background-color: #f1a501;
  transition: all 0.2s linear;
}
.hero-button:hover {
  opacity: 0.8;
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 21px;
}
.hero-play-icon {
  width: 52px;
  height: 52px;
  border-radius: 100rem;
  background-color: #df6951;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3019607843);
  transition: all 0.2s linear;
}
.hero-play-icon:hover {
  opacity: 0.8;
}
.hero-play-text {
  color: #686d77;
  font-size: 17px;
  line-height: 1.5;
  transition: all 0.2s linear;
}
.hero-play-text:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #212832;
}
.hero-image {
  position: absolute;
  right: 0;
}
.hero-image-1 {
  position: absolute;
  left: 148px;
  top: 56px;
}
.hero-image-2 {
  position: absolute;
  right: -19px;
  top: 103px;
  z-index: -1;
}
@container hero (max-width: 991.98px) {
  .hero-content {
    padding-block: 40px 50px;
    max-width: 100%;
  }
  .hero-heading img {
    left: 270px;
  }
  .hero-caption {
    margin-inline: auto;
  }
  .hero-links {
    justify-content: center;
  }
  .hero-image {
    display: none;
  }
}

@media (min-width: 975px) {
  .menu-mobile {
    display: none;
  }
}
@container wrapper (max-width: 970px) {
  .menu-header-icon {
    position: absolute;
    top: 25px;
    right: 15px;
    cursor: pointer;
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-drawer {
    position: fixed;
    background-color: #fefefe;
    inset: 0 0 0 50%;
    z-index: 2;
    transform: translateX(100%);
    transition: 0.5s;
    padding: 30px;
  }
  .menu-drawer .header-menu-links {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .menu-drawer-top {
    position: relative;
    padding-bottom: 40px;
  }
  .menu-drawer-top label {
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu-drawer-top .close-menu {
    width: 32px;
    height: 32px;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
  }
  .menu-drawer-chancelg {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: "Open Sans", sans-serif;
    color: #212832;
    font-size: 17px;
    line-height: 1.2717647059;
    font-weight: 500;
    transition: all 0.2s linear;
  }
  .menu-drawer-chancelg:hover {
    text-shadow: 0.7px 0 0 currentColor;
    color: #212832;
    cursor: pointer;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu .separate {
    border: 1px solid #000;
    margin-bottom: 20px;
  }
}

.services {
  margin-block: 97px 123px;
  position: relative;
  container-type: inline-size;
  container-name: services;
}
.services-container {
  container-type: inline-size;
  container-name: services-container;
}
@container services (max-width: 991.98px) {
  .services-container {
    padding-top: 70px;
  }
}
.services-top {
  margin-bottom: 66px;
  text-align: center;
}
.services-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.services-heading {
  font-size: 50px;
  line-height: 1.29;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 78px;
}
.services-list .services-item:nth-child(2) {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.services-list .services-item:nth-child(2) .services-item-image {
  width: 160px;
  height: 78px;
  object-fit: cover;
}
.services-list .services-item:last-child .services-item-image {
  height: 75px;
}
.services-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 36px;
  padding: 20px;
  transition: all 0.2s linear;
}
.services-item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.services-item-content {
  margin-top: 29px;
  text-align: center;
}
.services-item-title {
  font-family: "Open Sans", sans-serif;
  color: #1e1d4c;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.362;
  margin-bottom: 15px;
}
.services-item-desc {
  line-height: 1.625;
  max-width: 181px;
}
.services-group {
  position: absolute;
  right: 58px;
  top: 0;
}
.services-rectangle {
  position: absolute;
  left: 455px;
  bottom: -32px;
  z-index: -1;
}
@container services-container (max-width: 991.98px) {
  .services-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }
  .services-item {
    flex-direction: row;
    gap: 20px;
  }
  .services-item-desc {
    max-width: 100%;
  }
  .services-group {
    right: 0;
    top: 70px;
    z-index: -1;
  }
  .services-rectangle {
    display: none;
  }
}

.destinations {
  position: relative;
}
.destinations-container {
  container-type: inline-size;
  container-name: destinations-container;
}
.destinations-top {
  margin-bottom: 60px;
  text-align: center;
}
.destinations-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.destinations-heading {
  font-size: 50px;
  line-height: 1.29;
}
.destinations-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 35px;
}
.destinations-item {
  background-color: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}
.destinations-item-image {
  height: 327px;
  cursor: pointer;
  transition: 0.5s;
}
.destinations-item-image:hover {
  opacity: 0.85;
}
.destinations-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 24px 24px 0 0;
}
.destinations-item-content {
  padding: 27px 25px 42px 20px;
}
.destinations-item-content .destinations-content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.245;
  margin-bottom: 19px;
}
.destinations-item-content .destinations-content-top .destinations-sites,
.destinations-item-content .destinations-content-top .destinations-prices {
  transition: all 0.2s linear;
}
.destinations-item-content .destinations-content-top .destinations-sites:hover,
.destinations-item-content
  .destinations-content-top
  .destinations-prices:hover {
  text-shadow: 0.7px 0 0 currentColor;
  color: #212832;
  cursor: pointer;
}
.destinations-item-content .destinations-content-date {
  display: flex;
  align-items: center;
  gap: 14px;
}
.destinations-item-content .destinations-content-date .destinations-days {
  line-height: 1.245;
  transition: all 0.2s linear;
}
.destinations-item-content .destinations-content-date .destinations-days:hover {
  text-shadow: 0.7px 0 0 currentColor;
  color: #212832;
  cursor: pointer;
}
.destinations-decore {
  position: absolute;
  right: 115px;
  bottom: 47px;
  z-index: -1;
}
@container destinations-container (max-width: 991.98px) {
  .destinations-decore {
    display: none;
  }
}

.bookatrip {
  margin-block: 186px 200px;
  container-type: inline-size;
  container-name: bookatrip;
}
.bookatrip-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  container-type: inline-size;
  container-name: bookatrip-inner;
}
@container bookatrip (max-width: 991.98px) {
  .bookatrip-inner {
    flex-direction: column;
  }
}
.bookatrip-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.bookatrip-heading {
  text-transform: capitalize;
  font-size: 50px;
  line-height: 1.29;
  margin-block: 15px 31px;
  max-width: 511px;
}
.bookatrip-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 395px;
}
.bookatrip-item {
  display: flex;
  align-items: flex-start;
  gap: 21px;
}
.bookatrip-item-image {
  cursor: pointer;
}
.bookatrip-item-info {
  line-height: 1.245;
}
.bookatrip-item-info .bookatrip-title {
  color: #5e6282;
  font-weight: 700;
  margin-bottom: 4px;
  transition: all 0.2s linear;
}
.bookatrip-item-info .bookatrip-title:hover {
  text-shadow: 0.5px 0 0 currentColor;
  color: #212832;
  cursor: pointer;
}
.bookatrip-card {
  margin-right: 202px;
  padding-block: 78px 14px;
  position: relative;
}
.bookatrip-card-inner {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 26px;
  padding: 20px 25px 31px;
}
.bookatrip-card-image {
  border-radius: 24px;
  transition: all 0.2s linear;
}
.bookatrip-card-image:hover {
  opacity: 0.85;
  cursor: pointer;
}
.bookatrip-card-title {
  color: #080809;
  font-size: 18px;
  line-height: 1.245;
  margin-block: 26px 13px;
  font-weight: 500;
  transition: 0.5s;
}
.bookatrip-card-title:hover {
  text-shadow: 0.7px 0 0 currentColor;
  color: #212832;
  cursor: pointer;
}
.bookatrip-card-caption {
  color: #84829a;
  line-height: 1.245;
  transition: 0.5s;
}
.bookatrip-card-caption:hover {
  text-shadow: 0.5px 0 0 currentColor;
  color: #84829a;
  cursor: pointer;
}
.bookatrip-card-options {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-block: 21px 29px;
}
.bookatrip-card-icon {
  width: 36px;
  height: 36px;
  border-radius: 100rem;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookatrip-card-icon:hover {
  cursor: pointer;
}
.bookatrip-card-people {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookatrip-card-people-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.bookatrip-card-small {
  width: 263px;
  height: 129px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 18px;
  position: absolute;
  bottom: 68px;
  left: 265px;
}
.bookatrip-card-img {
  width: 50px;
  height: 50px;
}
.bookatrip-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.bookatrip-card-content .bookatrip-ongoing {
  color: #84829a;
  font-size: 14px;
  line-height: 1.245;
}
.bookatrip-card-content .bookatrip-rome {
  color: #080809;
  font-size: 18px;
  line-height: 1.245;
  margin-block: 6px 14px;
}
.bookatrip-card-content .bookatrip-number,
.bookatrip-card-content .bookatrip-text {
  font-size: 14px;
  line-height: 1.245;
  letter-spacing: -5.5%;
}
.bookatrip-card-content .bookatrip-number {
  color: #9282e1;
}
.bookatrip-card-content .bookatrip-text {
  color: #080809;
}
.bookatrip-card-content .bookatrip-activity-bar {
  width: 156px;
  height: 5px;
  border-radius: 30px;
  background-color: #f5f5f5;
  margin-top: 10px;
}
.bookatrip-card-content .bookatrip-activity-bar-progress {
  width: 73px;
  height: 5px;
  border-radius: inherit;
  background-color: #8a79df;
}
@container bookatrip-inner (max-width: 991.98px) {
  .bookatrip-content {
    text-align: center;
  }
  .bookatrip-heading {
    margin: 0 auto;
  }
  .bookatrip-list {
    flex-direction: row;
    max-width: 100%;
    margin-top: 30px;
  }
  .bookatrip-item {
    flex-direction: column;
    width: 33.3333333333%;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  }
  .bookatrip-item-image {
    margin: 0 auto;
  }
  .bookatrip-card {
    margin: 0 auto;
  }
}
.bookatrip-group {
  position: absolute;
  right: -10px;
  top: -130px;
  z-index: -1;
}

.testimonials {
  height: 365px;
  container-type: inline-size;
  container-name: testimonials;
}
@media (max-width: 1023.98px) {
  .testimonials {
    height: auto;
  }
}
.testimonials-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  container-name: testimonials-inner;
}
@container testimonials (max-width: 991.98px) {
  .testimonials-inner {
    flex-direction: column;
    gap: 30px;
    position: relative;
  }
}
.testimonials-captions {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.testimonials-heading {
  font-size: 50px;
  line-height: 1.29;
  margin-block: 8px 82px;
  text-transform: capitalize;
  width: 409px;
}
.testimonials-right {
  position: relative;
}
.testimonials-image {
  width: 68px;
  height: 68px;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonials-card {
  background-color: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  padding: 28px 68px 34px 34px;
  border-radius: 10px;
  position: relative;
  top: 34px;
  left: 37px;
  z-index: -1;
}
.testimonials-card-second {
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  padding-bottom: 22px;
  position: absolute;
  top: 124px;
  left: 87px;
  z-index: -2;
}
.testimonials-card-quote {
  width: 402px;
  color: #4e4e73;
  line-height: 2;
}
.testimonials-card-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-block: 34px 5px;
}
.testimonials-card-captions {
  font-size: 14px;
  line-height: 1.5;
}
.testimonials-pagination {
  margin-top: 20px;
}
.testimonials-pagination-icon {
  color: #bcb7c2;
  transition: all 0.2s linear;
}
.testimonials-pagination-icon:hover {
  color: #3e2e4d;
}
.testimonials-pagination-down {
  transform: rotate(180deg);
  margin-top: 56px;
  display: inline-block;
}
@container testimonials-inner (max-width: 991.98px) {
  .testimonials-left {
    text-align: center;
  }
  .testimonials-group {
    margin: 0 auto;
  }
  .testimonials-pagination {
    display: none;
  }
}

.logos {
  container-type: inline-size;
  container-name: logo;
}
.logos-container {
  margin-block: 96px 111px;
  padding-inline: 51px;
}
@container logo (max-width: 991.98px) {
  .logos-container {
    margin-bottom: 60px;
    padding-top: 50px;
  }
}
.logos-list {
  display: flex;
  align-items: center;
  gap: 77px;
}
.logos-item-image {
  width: 173px;
  object-fit: cover;
  cursor: pointer;
}

.subscribe {
  height: 490px;
  container-type: inline-size;
  container-name: subscribe;
}
@media (max-width: 1023.98px) {
  .subscribe {
    height: auto;
    padding-inline: 50px;
  }
}
.subscribe-inner {
  background-color: rgba(223, 215, 249, 0.25);
  padding: 79px 144px;
  border-radius: 129px 20px 20px 20px;
  text-align: center;
  position: relative;
}
.subscribe-heading {
  color: #5e6282;
  font-weight: 600;
  font-size: 33px;
  line-height: 1.6363636364;
  margin-bottom: 74px;
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 625px;
  height: 68px;
  margin: 0 auto;
  position: relative;
}
.subscribe-input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.2192857143;
  color: #39425d;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 25px 25px 50px;
  flex: 1;
}
.subscribe-input::placeholder {
  color: #39425d;
}
.subscribe-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 22px 50px;
  font-size: 17px;
  line-height: 1.3617647059;
  background-image: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  transition: all 0.2s linear;
}
.subscribe-button:hover {
  opacity: 0.8;
}
.subscribe-icon {
  position: absolute;
  left: 20px;
}
.subscribe-group-1 {
  position: absolute;
  left: -83px;
  bottom: 0;
  z-index: -1;
}
.subscribe-group-2 {
  position: absolute;
  top: 0;
  right: 0;
}
.subscribe-decore {
  position: absolute;
  right: -99px;
  top: 311px;
}
.subscribe-send {
  width: 70px;
  height: 70px;
  border-radius: 100rem;
  background-image: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 350px;
  right: -20px;
}
@container subscribe (max-width: 991.98px) {
  .subscribe-inner {
    padding: 30px 40px;
  }
  .subscribe-send {
    top: -19px;
  }
  .subscribe-decore {
    display: none;
  }
  .subscribe-form {
    width: 100%;
  }
}

.footer {
  margin-top: 96px;
  container-type: inline-size;
  container-name: footer;
}
.footer-top {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr;
  column-gap: 70px;
}
.footer .logo {
  color: #181e4b;
  font-size: 44px;
  line-height: 1.5;
}
.footer-caption {
  font-size: 13px;
  line-height: 1.2453846154;
  margin-top: 19px;
  width: 207px;
}
.footer-heading {
  color: #080809;
  font-size: 21px;
  line-height: 1.2452380952;
  margin-bottom: 34px;
  padding-top: 23px;
}
.footer-link {
  display: inline-block;
  color: #5e6282;
  font-size: 18px;
  line-height: 1.245;
  margin-bottom: 14px;
  transition: all 0.2s linear;
}
.footer-link:hover {
  text-shadow: 0.5px 0 0 currentColor;
  color: #212832;
}
.footer-socials {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer-socials-btn {
  width: 41px;
  height: 41px;
  border-radius: 100rem;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #080809;
  transition: all 0.2s linear;
}
.footer-socials-btn:hover {
  color: #fff;
}
.footer-socials-btn:first-of-type:hover {
  background-color: #1877f2;
}
.footer-socials-btn:nth-last-of-type(2):hover {
  background-image: linear-gradient(
    29.61deg,
    #f38334 0%,
    #da2e7d 50.39%,
    #6b54c6 100%
  );
}
.footer-socials-btn:last-of-type:hover {
  background-color: #55acee;
}
.footer-app {
  font-size: 20px;
  line-height: 1.245;
  margin-block: 26px 16px;
}
.footer-app-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}
.footer-button {
  display: inline-block;
  padding: 7px 11px 8px 17px;
  background-color: #080809;
  border-radius: 30px;
  transition: all 0.2s linear;
}
.footer-button:hover {
  opacity: 0.8;
}
.footer-button-content {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-button-content .footer-info {
  font-size: 13px;
  line-height: 1.2453846154;
}
.footer-bottom p {
  font-size: 14px;
  line-height: 1.245;
  text-align: center;
  padding: 90px 0 79px;
}
@container footer (max-width: 991.98px) {
  .footer-top {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 40px;
  }
  .footer-caption {
    width: 100%;
  }
  .footer-bottom p {
    padding: 50px 0;
  }
  .footer-column:last-of-type {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
