//---------- Fonts
$font-primary: "Poppins", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-third: "Volkhov", sans-serif;
$font-fourth: "Montserrat", sans-serif;

//---------- Colors
$text-clr: #5e6282;
$black-212: #212832;
$clr-1st: #181e4b;
$clr-3rd: #14183e;
