//---------- Fonts
$font-primary: "Poppins", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-third: "Volkhov", sans-serif;
$font-fourth: "Montserrat", sans-serif;

//---------- Colors
$text-clr: #5e6282;
